!!! 5
!!!
html
  head
    title html5hacks.com demo app 
    link(rel='stylesheet', href='http://yui.yahooapis.com/3.3.0/build/cssgrids/grids-min.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script(type="text/javascript", src="http://yui.yahooapis.com/3.3.0/build/yui/yui-debug.js")
  body
    h1 html5hacks.com demo app
      #container
        p hello