header
  h1 html5hacks.com Demo App
nav
article
  h2 
    a(href='/chapter1') Chapter 1 Hacking the Semantical Way
    h3 Hacks 1-10 with the new HTML5 markup elements
  
  h2
    a(href='/chapter2') Chapter 2 Hacking with Style
    h3 Hacks 11-30 with CSS3

  h2 
    a(href='/chapter3') Chapter 3 Multimedia Hacking
    h3 Hacks 31-40 with HTML5 Audio and Video Tags

  h2
    a(href='/chapter4') Chapter 4 Hacking Graphics
    h3 Hacks 41-50  with canvas and SVG

  h2
    a(href='/chapter5') Chapter 5 Data Storage Hacks
    h3 Hacks 51-65 with Storage and HTML5 Application Cache

  h2
    a(href='/chapter6') Chapter 6 Hacking the User Interaction
    h3 Hacks 66-75 with HTML5 Drag and Drop, Editing Elements and other interactions

  h2
    a(href='/chapter7') Chapter 7 Hacking the Globe
    h3 Hacks 76-81 with Geo-locations

  h2
    a(href='/chapter8') Chapter 8 Hacking with Web workers
    h3 Hacks 82-90 with Web workers

  h2
    a(href='/chapter9') Chapter 9 Hacking the Comm
    h3 Hacks 91-100 with WebSockets, Cross-document messaging and Server Side Events
footer