!!! 5
!!!
html
  head
    title html5hacks.com demo app 
    link(rel='stylesheet', href='/css/application.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/3.3.0/build/cssgrids/grids-min.css')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script(type: "text/javascript", src: "http://yui.yahooapis.com/3.3.0/build/yui/yui-debug.js")
    script(type: "text/javascript", src: "http://yui.yahooapis.com/3.3.0/build/oop/oop.js")
    script(type: "text/javascript", src: "http://yui.yahooapis.com/3.3.0/build/event-custom/event-custom.js")
    script(type: "text/javascript", src: "http://yui.yahooapis.com/3.3.0/build/event/event.js")
    script(type: "text/javascript", src: "http://yui.yahooapis.com/3.3.0/build/attribute/attribute.js")
    script(type: "text/javascript", src: "http://yui.yahooapis.com/3.3.0/build/pluginhost/pluginhost.js")
    script(type: "text/javascript", src: "http://yui.yahooapis.com/3.3.0/build/base/base.js")
    script(type: "text/javascript", src: "http://yui.yahooapis.com/3.3.0/build/dom/dom.js")
    script(type: "text/javascript", src: "http://yui.yahooapis.com/3.3.0/build/node/node.js")  
    script(type: "text/javascript", src: "http://s.phono.com/releases/0.2/jquery.phono.js")
  body
    h1 html5hacks.com demo app
      #container
        p hello