h2 Web Workers
h3 #83 Basics of the UI Thread
h4 highComp.js
script(src='https://gist.github.com/1910565.js?file=highComp.js')
h4 spawn.js
script(src='https://gist.github.com/1910565.js?file=spawn.js')
h4 worker.js
script(src='https://gist.github.com/1910565.js?file=worker.js')